.user-video__list {
    background: #f2f4f6;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    .form-check-input {
        background-color: #fff;
    }
    .form-check-input:checked {
        background-color: #1F2937;
        border-color: #1F2937;
    }
  }

.input-group__slider-date {
    .input-group-text {
        border-top-right-radius: 0.5rem !important;
        border-bottom-right-radius: 0.5rem !important;
    }
    .btn-group-text {
        padding: 0.5rem 0.625rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6B7280;
        text-align: center;
        white-space: nowrap;
        background-color: #ffffff;
        border: 0.0625rem solid #D1D5DB;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
        border-radius: 0.5rem !important;
    }
}

.menu-list__item__drag-btn {
    visibility: hidden;
    padding: 0.75rem 1rem;
    cursor:grab;
}

.menu-list__item__drag-btn.grabbing {
    cursor: grabbing;
}

.menu-list__item__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:hover .menu-list__item__drag-btn {
        visibility: visible;
    }
}

.menu-list__item__content {
    border-bottom: 0.0625rem solid #E5E7EB;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
        color:#374151;
        background-color: rgba(17, 24, 39, 0.075);
    }
}

.menu-list__item__title {
    padding: 0.75rem 0.75rem;
    width: 100%;
}

.menu-list__item__action {
    padding: 0.75rem 0.75rem;
}

.menu-list__item__settings {
    padding: 0.75rem 0.75rem;
}

.menu-list__item__settings__btn {
    cursor: pointer;
}

.menu-list__item__toggle-btn {
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.form-check-green-input:checked {
    background-color: #10b981;
    border-color: #10b981;
}

.card-module {
    .nav-tabs {
        border: 0;
        .nav-link.active {
            background-color: #1F2937;
        }
        .nav-link {
            background-color: #dce1e5;
            margin-left: 3px;
            padding: 0.7rem 1rem;
        }
        .nav-item:first-child .nav-link {
            margin-left: 0;
        }
    }
    .tab-content {
        padding: 20px 10px;
        background: #f2f4f6;
        border: 1px solid #dce1e5;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}

.event-edit-container {
    position: relative;
}

.event-edit-buttons {
    position: absolute;
    top: -76px;
    right: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.range_item {
    padding: 5px 8px;
    border: 1px solid transparent;
    /* border: 1px solid #f3f6f9; */
    background-color: rgba(17, 24, 39, 0.075);
}
.range_item.active {
    border: 1px solid #e2f0ff;
    background-color: #e2f0ff;
}
.table-hover > tbody > tr:hover .range_item {
    background-color: #fff;
}
.error-inp {
    border: 1px solid #f00;
}

.table-app {
    td {
        white-space: break-spaces;
    }
    .table-app__id {
        white-space: normal;
        vertical-align: middle;
    }
    .dropdown-menu {
        white-space: nowrap;
    }
}

.table-reestr {
    th {
        white-space: normal;
        input[type=checkbox] {
            font-size: 0.875rem;
        }
    }
}

.filter-section {
    .dropdown-toggle, .dropdown-toggle.show {
        background-color: #fff;
        color: #6B7280;
        font-weight: normal;
    }
}

.filter-section {
    .dropdown-menu {
        padding: 15px 12px;
    }
    .range-date {
        .dropdown-menu {
            min-width: 330px;
        }
    }
    .range-date__dropdown-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .range-date__item:not(:last-child) {
        margin-right: 5px;
    }
    .range-date__item-title {
        width: auto;
        margin-right: 5px;
    }
}

.app-payment-item.text-success:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 15px;
    color: inherit;
    margin-right: 3px;
}

.app-payment-item.text-danger:before {
    content: "\f06a";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 15px;
    color: inherit;
    margin-right: 3px;
}

.upload-reestr__upload-info {
    font-size: 14px;
}

.error-reestr-upload__content {
    background-color: #fff2f2;
    padding: 16px;
    font-size: 14px;
}

.error-reestr-upload__item-error {
    color: #E11D48;
}

.errors-count {
    text-decoration: underline;
    text-decoration-color: #E11D48;
    text-underline-offset: 0.2em;
}

.message-error__item {
    color: #E11D48;
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
}

.modal-items {
    label {
        cursor: pointer;
    }
}

.list-items__header {
    margin-bottom: 15px;
}

.list-items__content {
    display: grid;
    grid-template-columns: 1fr;
    width: max-content;
}

.list-item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.list-item__title {
    display: inline-block;
    border: 0.0625rem solid #D1D5DB;
    padding: 5px 10px;
}

.list-item__delete {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.event_period_price {
    max-width: 150px;
}

.event-periods__periods {
    .btn-period-remove {
        padding: 3px 5px;
        margin: 0;
        text-align: center;
    }
    .btn-period-remove-checked {
        position: absolute;
        bottom: 0.75rem;
        left: 1.5rem;
    }
}

.event-periods__table {
    th {
        vertical-align: middle;
        height: 54px;
    }
    .table-th__opt {
        position: relative;
    }
}



@media (min-width: 1400px) {
    .event-periods__content {
        width: 920px;
    }
    //.event-periods__table {
    //    .table-th__check {
    //        width: 64px;
    //    }
    //    .table-th__index {
    //        width: 64px;
    //    }
    //    .table-th__period {
    //        width: calc(53% - 128px);
    //    }
    //    .table-th__price {
    //        width: 22%;
    //    }
    //    .table-th__opt {
    //        width: 25%;
    //    }
    //}
}
