.accordion-membership {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-out all;
}
.accordion-membership:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.accordion-membership .accordion-icon {
  position: absolute;
  background: #990606;
  border-radius: 100%;
  padding: 6px;
  top: 15px;
  left: -25px;
}
.accordion-membership .card-header {
  position: relative;
  padding: 1rem 1.25rem 0.5rem 1.25rem;
}
.accordion-membership .card-header button {
  color: #4d4d4d;
  font-weight: bold;
}
.accordion-membership .card-header button, .accordion-membership .card-header button:hover, .accordion-membership .card-header button:focus {
  background: none;
  box-shadow: none;
  border: 0;
}
.accordion-membership > .card {
  overflow: visible;
}
.accordion-membership .card-body {
  padding: 0.25rem 2.5rem 1rem 2.5rem;
}
.accordion-membership .table thead {
  font-family: "Helvetica", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.accordion-membership .table thead th {
  font-size: 1rem;
  font-weight: normal;
}
.accordion-membership .table tbody tr {
  cursor: default;
}
.accordion-membership .table tbody tr:nth-of-type(2n+1) {
  background-color: transparent;
}
.accordion-membership .table tbody tr:nth-of-type(2n+2) {
  background-color: #f2f2f2;
}
.accordion-membership .table tbody td {
  font-size: 1rem;
  color: #212529;
}
.accordion-membership .table p {
  margin: 0;
}
.accordion-membership .a-block-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.accordion-membership .a-block-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-out all;
}
.accordion-membership .a-block-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.accordion-membership .a-block-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.accordion-membership .a-block-body {
  height: 100%;
}
.accordion-membership .a-block-button {
  text-align: center;
  padding-top: 15px;
}

.news-item .card {
  transition: 0.3s ease-out all;
}
.news-item .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.btn-gray {
  border-color: #d1d1d1;
  background: #f2f2f2;
  color: #212529;
  cursor: default;
}

.table-membership thead {
  font-family: "Helvetica", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.table-membership thead th {
  font-size: 1rem;
  font-weight: normal;
}
.table-membership tbody tr {
  cursor: default;
}
.table-membership tbody tr:nth-of-type(2n+1) {
  background-color: transparent;
}
.table-membership tbody tr:nth-of-type(2n+2) {
  background-color: #f2f2f2;
}
.table-membership tbody td {
  font-size: 1rem;
  color: #212529;
}
.table-membership p {
  margin: 0;
}

.form-check-content {
  padding: 30px 30px 50px 30px;
  border-radius: 10px;
  background: #f2f2f2;
}

.table-check-payment thead {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: inherit;
}

.table-check-payment >:not(:first-child) {
  /* border-top: 3px solid var(--main); */
  border:0;
}

.event-files__header {
  background: #f7f7f7;
  padding: 10px 30px;
  border: 1px solid #dddddd;
}

.event-files-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0;
}

.event-files-item__link {
  padding: 20px;
}

.event-files-item__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.event-files-item__link a .fas {
  font-size: 42px;
  color: #76bd6a;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.event-files-item__link a:hover .fas {
  color: #55914b;
}

.event-files-item__title {
  padding: 20px;
}